
  .btnred {

    background-color: red;
  
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;

    cursor: pointer;

    align-self: center;
    justify-self: center;

  }

  .btngreen {

    background-color: green;
  
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;

    cursor: pointer;

    align-self: center;
    justify-self: center;


  }

  .btnyellow {

    background-color: yellow;
  
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;

    cursor: pointer;

    align-self: center;
    justify-self: center;


  }

  .btnblue {

    background-color: blue;
  
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;

    cursor: pointer;

    align-self: center;
    justify-self: center;

  }


  .pressed {
    box-shadow: 0 0 20px #530050;
    background-color: #f8d7f7;
  }
  
  @media screen and (max-width: 768px) {
    .btnred,
    .btngreen,
    .btnyellow,
    .btnblue {
      height: 200px;
      width: 200px;
      border-width: 5px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .btnred,
    .btngreen,
    .btnyellow,
    .btnblue {
      height: 130px;
      width: 130px;
      border-width: 3px;
    }
  }
  
