@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&family=Press+Start+2P&display=swap");

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

:root {

  background-color: whitesmoke;
  text-align: center;

}

.headerlogo {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100wh;
  height: 100px;
  color: white;

}

.logolongblanc {

  width: 10rem;
  justify-self: center;
  align-self: center;

}

.sinscrire {

  justify-self: right;

}

.seconnecter  {

  justify-self: left;

}

.btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes égales */
  grid-template-rows: repeat(2, auto); /* 2 lignes égales (ajustez "auto" selon le contenu) */
  gap: 25px; /* Marge entre les éléments */
  width: 40%;
  margin: auto;

}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.textcolor1 {

  color: #530060;

}

.textcolor2 {

  color: #770D67;
  

}

.bgcolor1 {

background-color: #530060;
color: white;

}

.btn1 {

  background-color: #530060;
  color: white;

}

.btn1:hover {
  background-color: rgb(249, 249, 249);
  border: #530060 solid 1px;
  color: #530060;
}

.textzone1 {

  background-color: white;

}

.textzone1:focus {

  border: #530060 solid 1px;
}

input:focus {
  border: #530060 solid 1px;
}


.bgcolor2 {

background-color: #770D67;

}

@media screen and (max-width: 768px) {
  :root {
    font-size: 20px;
  } 

  .btn-container {

    margin-left: 15%;
    margin-top: 10%;
    gap: 0px;
  
  }
  
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 14px;
  }


.btn-container {

  margin-left : 10% ;
  gap: 0px;

}

}